<html>

	<head>
	<title>IIIT Sports Meet</title>
	<link rel="stylesheet" type="text/css" href="/resources/sheet.css">
<meta name="viewport" content="width=device-width,initial-scale=1">

	<style type="text/css">
			
			body{
			}

	</style>
	</head>


	<body>
		
		<nav>
			<heading><a href="/"><pp>1<sup>st</sup> Inter IIIT </pp>Sports Meet<add> 16</add></a></heading><a href="http://www.iiitdm.ac.in"><img class="iiit_logo" src="/resources/iiitdm.png" width="115" height="110"></a>
			<span>
			<a class="link1" href="#">Events</a>
			<a class="link2" href="/rules">Rules</a>
			<a class="link3" href="/register">Registration</a>
			<a class="link4" href="/contacts">Contact</a>
			<a class="link4" href="events/dates.html">Deadlines</a>
			<events>
				
				<event-class1>Mens<br>
				<sub-event><a href="events/athletics.html">- Athletics</a></sub-event><br>
				<sub-event><a href="events/badminton.html">- Badminton</a></sub-event><br>
				<sub-event><a href="events/basketball.html">- Basketball</a></sub-event><br>	
				<sub-event><a href="events/carrom.html">- Carrom</a></sub-event><br>
				<sub-event><a href="events/chess.html">- Chess</a></sub-event><br>
				<sub-event><a href="events/cricket.html">- Cricket</a></sub-event><br>
				<sub-event><a href="events/football.html">- Football</a></sub-event><br>
				<sub-event><a href="events/tabletennis.html">- Table Tennis</a></sub-event><br>
				<sub-event><a href="events/tennis.html">- Tennis</a></sub-event><br>
				<sub-event><a href="events/volleyball.html">- Volley Ball</a></sub-event><br>
				</event-class1>

				<event-class2>Women<br>
				<sub-event><a href="events/athletics.html">- Athletics</a></sub-event><br>
				<sub-event><a href="events/badminton.html">- Badminton</a></sub-event><br>
				<sub-event><a href="events/basketball.html">- Basketball</a></sub-event><br>	
				<sub-event><a href="events/carrom.html">- Carrom</a></sub-event><br>
				<sub-event><a href="events/chess.html">- Chess</a></sub-event><br>
				<sub-event><a href="events/tabletennis.html">- Table Tennis</a></sub-event><br>
				<sub-event><a href="events/tennis.html">- Tennis</a></sub-event><br>
				<sub-event><a href="events/throwball.html">- Throw ball</a></sub-event><br>
				</event-class2>

				
			</events>
			</span>


		</nav>
 

		<content>
			
			<div class="head-rules">Review selected events</div>

			<div class="content-register">
			Hi {{.Uname}} , you have successfully registered for the following events :

			<br><br>
			Mens Events:<br><ul>
			{{range .Eventsmale}}
				<li><small>{{.}}</small></li>

			{{end}}</ul>
			<br><br>
			Womens Events:<br><ul>
			{{range .Eventsfemale}}
				<li><small>{{.}}</small></li>

			{{end}}</ul>
			
			<br>
			Total Number of Male Athletes : {{.Males}}
<br><br>
			Total Number of Male Athletes : {{.Females}}
			</div>
		</content>

<footer>Site Developed and Maintained by <a href="http://www.iiitdm.ac.in">Indian Institute of Information Technology, Design & Manufacturing , Kancheepuram </a>© 2016</footer>


	</body>

</html>
